:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    position: relative;
    overflow: hidden;
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

.abs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.screens {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    z-index: 1;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
}


/* .overlay {
    background: rgba(0, 0, 0, 0.7);
} */

#game-logo {
    width: 10rem;
    border-radius: 3vh;
    margin-bottom: 2rem;
}

#spinner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 2rem;
}

#spinner-dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #fff;
}

#spinner-inner-arc {
    width: 1.5rem;
    height: 1.5rem;
    border-color: #fff #fff transparent;
    animation: rotation 2s 0s linear infinite;
}

#spinner-middle-arc {
    width: 2.75rem;
    height: 2.75rem;
    border-color: #fff #fff transparent;
    animation: rotation 2s 0s linear infinite reverse;
}

#spinner-outer-arc {
    width: 4rem;
    height: 4rem;
    border-color: #fff #fff transparent;
    animation: rotation 2s -0.5s linear infinite;
}

.spinner-arc {
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}


.choice-list {
    display: flex;
    background: #eee;
    padding: 1rem;
    border: 2px solid #ccc;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom: none;
    bottom: 0;
    position: absolute;
}

.choice-card {
    width: 8rem;
    max-width: min(25vw, 25vh);
    padding: min(2vw, 2vh);
    margin: min(2vw, 2vh);
    box-sizing: border-box;
    border: 2px solid #ccc;
    /* border-right-width: 0px; */
    border-radius: 1rem;
    background-size: contain;
    background-color: #ccc;
    cursor: pointer;
    pointer-events: all;
}

.choice-card:first-child {
    /* border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem; */
}

.choice-card:last-child {
    /* border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-right-width: 2px; */
}


@keyframes fadein {
    from {
        display: none;
        opacity: 0;
    }

    to {
        display: flex;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        display: flex;
        opacity: 1;
    }

    to {
        display: none;
        opacity: 0;
    }
}


.shown {
    animation: fadein 0.2s ease-in forwards;
}

.hiding {
    animation: fadeout 0.15s ease-out forwards;
}

.hidden {
    display: none;
}
